.header-navbar-responsive {
  display: block !important;

  a {
    display: block;
    text-align: center;
    margin: 8px 0;
    font-size: 18px;

    &:last-of-type {
      border: none;
    }
  }
}

.header {
  color: $base_black;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./../../assets/images/Rectangle\ 1.png");
  position: relative;

  //overlay background header
  &-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    &-bar {
      padding: 24px 0 36px 0;

      @include mobile {
        padding: 16px;
      }

      @include tablet {
        padding: 20px;
      }

      &-topbar {
        z-index: 99;

        &_menu {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: $base_white;
          border: 1px solid $base_white;
          margin-inline-end: 24px;
        }

        &-group-button {
          height: 30px;
          width: 90px;
          border-radius: 15px;
          background-color: rgba($color: $base_white, $alpha: 0.3);

          @include mobile {
            display: none;
          }
        }


        &_language {
          width: 40px;
          height: 30px;

          &.active {
            min-width: 46px;
            color: $base_black;
            border-radius: 15px;
            background-color: rgba($color: $base_white, $alpha: 1.0);
          }
        }

        &_menu,
        &_language {
          color: $base_white;
        }
      }

      &-logo {
        svg {
          @include mobile {
            width: 124px;
          }

          @include tablet {
            width: 281px;
          }
        }
      }
    }

    &-navbar {
      overflow: hidden;
      margin-inline: auto;
      border-bottom: 1px solid rgba($base_white, 0.3);

      @include mobile-tablet {
        display: none;
      }

      a {
        color: $base_white;
        text-transform: uppercase;
        font-family: $mont_font;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        padding: 0px 16px 15px 0;


        .divide {
          color: rgba(255, 255, 255, 0.5);
        }

        &:hover {
          color: $base_black;
        }

      }
    }

    &-content {
      margin-bottom: 28px;
      font-family: $mont_font;

      @include mobile {
        padding: 16px;
      }

      @include tablet {
        padding: 0 32px;
        margin-bottom: 35px;
      }

      &_label {
        text-transform: uppercase;
        font-style: normal;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 8px;
      }

      &_desc {
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        color: $base-white;
        width: 680px;

        @include mobile {
          font-size: 24px;
          width: auto;
        }

        @include tablet {
          font-size: 48px;
          width: auto;
        }
      }

    }

  }

  //scroll button icon
  &-scrollable-btn {
    display: none;

    button {
      color: $base_white;

      .icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
      }
    }

    @include mobile {
      display: flex;
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  width: 98%;
  margin-inline: auto;

  @include desktop {
    display: none;
  }
}