$base_white: #FFFFFF;
$base_black: #333333;
$red_color: #C84343;
$light_gray: #EEEEEE;
$dark_gray: #AAAAAA;
$background: #f0f0f0;
$lines_color: #383636;
$border: #D9D9D9;
$white_100: #FAFAFA;

$mont_font: 'Montserrat';
$noto_font: 'Noto Serif';